<!DOCTYPE html>

<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>ArchivesSearch | Queensland State Archives | Queensland Government</title>

    <meta name="description" content="DESCRIPTION">
    <meta name="keywords" content="KEYWORDS">

    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/">
    <link rel="schema.AGLSTERMS" href="http://www.agls.gov.au/agls/terms/">

    <meta name="DCTERMS.creator" scheme="AGLSTERMS.GOLD" content="c=AU; o=The State of Queensland; ou=DEPARTMENT NAME; ou=UNIT NAME">
    <meta name="DCTERMS.publisher" scheme="AGLSTERMS.AglsAgent" content="corporateName=The State of Queensland; jurisdiction=Queensland">
    <meta name="DCTERMS.created" content="2010-11-04">
    <meta name="DCTERMS.modified" content="2011-03-05">
    <meta name="DCTERMS.title" content="Add your heading">
    <meta name="DCTERMS.alternative" content="Add your heading">
    <meta name="DCTERMS.description" content="DESCRIPTION">
    <meta name="DCTERMS.subject" scheme="AGLSTERMS.APAIS" content="SUBJECT">
    <meta name="AGLSTERMS.function" scheme="AGLSTERMS.AGIFT" content="FUNCTION">
    <meta name="DCTERMS.type" scheme="DCTERMS.DCMIType" content="Text">
    <meta name="AGLSTERMS.documentType" scheme="AGLSTERMS.agls-document" content="guidelines">
    <meta name="DCTERMS.audience" scheme="AGLSTERMS.agls-audience" content="">
    <meta name="DCTERMS.jurisdiction" scheme="AGLSTERMS.AglsJuri" content="Queensland">

    <!-- GLUE Alpha Build Date: xxx -->

<meta name="DCTERMS.license" scheme="DCTERMS.URI" content="https://creativecommons.org/licenses/by/4.0/">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="assets/v3.1/latest/images/favicon.ico">

<link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css" />

<link href="assets/v3.1/latest/css/qg-main.css" rel="stylesheet" type="text/css" media="all">

<noscript>
	<link href="assets/v3.1/latest/css/qg-noscript.css" rel="stylesheet" type="text/css" media="all">
</noscript>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


</head>

<body data-qg-accessibility="true">
  <!-- Google Tag Manager - change with QSA's unique code and uncomment

<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PMDS7K"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PMDS7K');</script>


End Google Tag Manager -->
    <section id="qg-access" role="navigation" aria-labelledby="landmark-label">
	<h2 id="landmark-label" tabindex="0">Skip links and keyboard navigation</h2>
	<ul>
		<li><a id="skip-to-content" href="#qg-primary-content">Skip to content</a></li>
		<li id="access-instructions"><a href="/help/accessibility/keyboard.html#section-aria-keyboard-navigation">Use tab and cursor keys to move around the page (more information)</a></li>
	</ul>
</section>


    <div class="container-fluid qg-site-width">

        <header id="qg-site-header">
            <div class="qg-coat-of-arms col-xs-6 col-md-4">
    <a href="//www.qld.gov.au" tabindex="0">
        <img src="assets/v3.1/latest/images/coat-of-arms/qg-coa.svg" alt="Queensland Government" class="hidden-xs hidden-sm">
        <img src="assets/v3.1/latest/images/coat-of-arms/qg-coa-stacked.svg" alt="Queensland Government" class="hidden-md hidden-lg">
    </a>
</div>


            <ul class="qg-utilities list-inline col-xs-6 col-md-5">

    <!-- Shopping cart -->
    <li>
        <a href="#"><span class="fa fa-shopping-cart fa-2x" aria-hidden="true"></span></a>
    </li>

    <li>
        <a href="https://www.qld.gov.au/contact-us/"><span class="fa fa-phone fa-2x hidden-md hidden-lg" aria-hidden="true"></span><span class="hidden-xs hidden-sm">Contact us</span></a>
    </li>

    <li class="hidden-md hidden-lg">
        <button id="qg-show-search"
                aria-label="Search"
                data-toggle="collapse"
                data-target="#qg-search-form"><span class="fa fa-search fa-2x" aria-hidden="true"></span></button>
    </li>
    <li class="hidden-md hidden-lg">
        <button id="qg-show-menu"
                aria-label="Menu"
                data-toggle="collapse"
                data-target="#qg-site-nav, #qg-breadcrumb"><span class="fa fa-bars fa-2x" aria-hidden="true"></span></button>
    </li>
</ul>


            <form action="https://www.qld.gov.au/search" id="qg-search-form" role="search" class="collapse col-xs-12 col-md-3">
    <div class="input-group">
        <label for="qg-search-query" class="qg-visually-hidden">Search Queensland Government</label>
        <input type="text" name="query" id="qg-search-query" class="form-control" placeholder="Search website" tabindex="0" aria-required="true" aria-expanded="false"/>
        <span class="input-group-btn">
      <button type="submit" id="feature-search-submit" class="btn btn-primary" title="Search site"><span class="fa fa-search" aria-hidden="true"></span><span class="qg-visually-hidden">search</span></button>
    </span>
    </div>
    <!--parameters to display results on search page-->
    <input type="hidden" name="num_ranks" value="10">
    <input type="hidden" name="tiers" value="off">
    <input type="hidden" name="collection" value="qld-gov">
    <input type="hidden" name="profile" value="qld">
</form>


<nav id="qg-site-nav" role="navigation" aria-label="Main navigation" class="collapse">
	<ul>
		<li><a href="https://www.qld.gov.au/queenslanders/">For Queenslanders</a></li>
		<li><a href="https://www.business.qld.gov.au/">Business and industry</a></li>
	</ul>
</nav>

        </header>

  <div id="qg-content">
    <div id="qg-two-col-nav" class="row wide">

      <nav id="qg-breadcrumb" role="navigation" aria-label="breadcrumb navigation" aria-labelledby="breadcrumb-heading" class="collapse">

    <h2 id="breadcrumb-heading" class="qg-visually-hidden">You are here:</h2>

    <ol class="list-inline">
          <li id="qldGov">
              <a href="http://www.qld.gov.au/" target="_blank">Queensland Government home</a>
          </li>
          <li>
              <a href="https://www.qld.gov.au/queenslanders/" target="_blank">For Queenslanders</a>
          </li>
          <li class="qldGovBreadcrumb">
              <a href="https://www.qld.gov.au/recreation/" target="_blank">Recreation, sport and arts</a>
          </li>
          <li class="qldGovBreadcrumb">
              <a href="https://www.qld.gov.au/recreation/arts/" target="_blank">Arts, culture and heritage</a>
          </li>
          <li class="qldGovBreadcrumb">
              <a href="https://www.qld.gov.au/recreation/arts/heritage/" target="_blank">Heritage</a>
          </li>
          <li class="qldGovBreadcrumb">
              <a href="https://www.qld.gov.au/recreation/arts/heritage/archives/" target="_blank">Queensland's archives</a>
          </li>

    </ol>

</nav>


      <!-- global alert -->

<!--
<div class="alert alert-danger qg-noicon qg-global-alert">
  <header>
    <h2><a href="/emergency/">Emergency Alert</a></h2>
    <p><time datetime="2014-10-20T12:30:00+10:00">about 3 minutes ago</time></p>
  </header>
  <section>
    <a href="#">SE Qld Flood</a>
    <a href="#">Cyclone Bazza</a>
    <a href="#">Burke Bushfires</a>
  </section>
</div>
-->


      <div id="qg-primary-content" role="main">


          <a name="maincontent" id="maincontent"></a>


        <div class="row">
        <div class="col-sm-12">
          <h1><a name="component-menu"></a></a>Reusable components</h1>
          <p>This is based on Bootstrap documentation, but provides the preferred options within the numerous choices for components.
          <ul>
            <li><a href="#tables">Tables</a></li>
            <li><a href="#typography">Typography</a></li>
            <li><a href="#forms">Forms</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#grid">Grid</a></li>
            <li><a href="#cards">Cards (Bootstrap 4 only)</a></li>
          </ul>

          <h2><a name="tables"></a>Tables</h2>
          <p>Default class to use is <code>class="table table-striped"</code> with the ability to use <code>class="table table-striped table-dark"</code> for dark / reversed colours.</p>
          <h3>Example code</h3>
          <code>
            <pre>
              &lt;table class="table table-striped">
                &lt;thead>
                  &lt;tr>
                    &lt;th scope="col">#&lt;/th>
                    &lt;th scope="col">First&lt;/th>
                    &lt;th scope="col">Last&lt;/th>
                    &lt;th scope="col">Handle&lt;/th>
                  &lt;/tr>
                &Lt;/thead>
                &lt;tbody>
                  &lt;tr>
                    &lt;th scope="row">1&lt;/th>
                    &lt;td>Sean&lt;/td>
                    &lt;td>Anderson&lt;/td>
                    &lt;td>@therealdonaldtrump&lt;/td>
                  &lt;/tr>
                &lt;/tbody>
              &lt;/table>
            </pre>
          </code>
          <h3>Example output</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Sean</td>
                <td>Anderson</td>
                <td>@therealdonaldtrump</td>
              </tr>
            </tbody>
          </table>
          <h3>Example code (reversed)</h3>
          <code>
            <pre>
              &lt;table class="table table-striped table-dark">
                &lt;thead>
                  &lt;tr>
                    &lt;th scope="col">#&lt;/th>
                    &lt;th scope="col">First&lt;/th>
                    &lt;th scope="col">Last&lt;/th>
                    &lt;th scope="col">Handle&lt;/th>
                  &lt;/tr>
                &Lt;/thead>
                &lt;tbody>
                  &lt;tr>
                    &lt;th scope="row">1&lt;/th>
                    &lt;td>Sean&lt;/td>
                    &lt;td>Anderson&lt;/td>
                    &lt;td>@therealdonaldtrump&lt;/td>
                  &lt;/tr>
                &lt;/tbody>
              &lt;/table>
            </pre>
          </code>
          <h3>Example output (rev)</h3>
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Sean</td>
                <td>Anderson</td>
                <td>@therealdonaldtrump</td>
              </tr>
            </tbody>
          </table>

          <p class="small float-right"><a href="#component-menu">[Back to menu]</a></p>

          <h2><a name="typography"></a>Typography</h2>
          <p>There are no variations against the standard Bootstrap documentation for typography, so best to reference the style guides:
          <ul>
            <li><a href="https://getbootstrap.com/docs/3.4/css/#type">Boostrap 3 typography</a></li>
            <li><a href="https://getbootstrap.com/docs/4.3/content/typography/">Bootstrap 4 typography</a></li>
          </ul>
          <p class="small float-right"><a href="#component-menu">[Back to menu]</a></p>

          <h2><a name="forms"></a>Forms</h2>
          <p>There are no variations against the standard Bootstrap documentation for forms, so best to reference the style guides. Where possible, <strong>use stacked, rather than inline form presentation</strong>:
          <ul>
            <li><a href="https://getbootstrap.com/docs/3.4/css/#forms">Boostrap 3 form elements</a></li>
            <li><a href="https://getbootstrap.com/docs/4.3/components/forms/">Bootstrap 4 form elements</a</li>
          </ul>
          <p class="small float-right"><a href="#component-menu">[Back to menu]</a></p>

          <h2><a name="features"></a>Features</h2>
          <h3>Bootstrap 3</h3>
          <p>For Bootstrap 3 we are using panels.</p>
          <h4>Example code</h4>
          <code>
            <pre>
              &lt;div class="panel panel-default"&gt;
                &lt;div class="panel-heading"&gt;
                  &lt;h3 class="panel-title">Results&lt;/h3&gt;
                &lt;/div&gt;
                &lt;div class="panel-body"&gt;
                  List details of the data in the result
                &lt;/div&gt;
              &lt;/div&gt;
            </pre>
          </code>
          <h4>Example output</h4>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Resul</h3>
            </div>
            <div class="panel-body">
              List details of the data in the result
            </div>
          </div>

          <p class="small float-right"><a href="#component-menu">[Back to menu]</a></p>

          <h2><a name="grid"></a>Grid</h2>
          <p>To be completed.</p>
          <p class="small float-right"><a href="#component-menu">[Back to menu]</a></p>

          <h2><a name="cards"></a>Cards (Bootstrap 4 only)</h2>
          <p>To be completed.</p>
          <p class="small float-right"><a href="#component-menu">[Back to menu]</a></p>

        </div>
        </div>






          <div class="search" role="search">
        <a name="search" id="search"></a>


        <h3>Search The Archives </h3>

        <form class="form-inline">
        <div class="form-group">
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter your search terms">
        </div>
        <div class="form-group">
        <select name="limit" id="limit" class="form-control fill-column" style="height: 40px">
        <option selected="selected" value="">Search all record types</option>
        <option value="resource">Limit to collections</option>
        <option value="digital_object">Limit to digital materials</option>
        </select>
        </div>
        <div class="form-group">
        <select name="field[]" id="field0" class="form-control repeats" style="height: 40px"><option value="">Keyword</option>
        <option value="title">Title</option>
        <option value="creators_text">Creator</option>
        <option value="subjects_text">Subject</option>
        <option value="notes">Notes</option>
        <option value="four_part_id">Identifier</option>
        </select>
        </div>
        <div class="form-group">
        <label class="sr-only repeats" for="from_year0">From year</label>
        <input type="text" name="from_year[]" id="from_year0" size="4" maxlength="4" placeholder="From" class="form-control repeats" />

        <label class="sr-only repeats" for="to_year0">To year</label>
        <input type="text" name="to_year[]" id="to_year0" size="4" maxlength="4" class="form-control repeats" placeholder="To" />
        </div>
        <div class="form-group">
        <input type="submit" name="commit" value="Search" class="btn btn-primary" id="submit_search" data-disable-with="Search" />
        </div>
        </form>


        <!--<form id="advanced_search" action="index.html" class="form-inline" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
        <div class="row search_row" id="search_row_0">
          <div class="col-sm-1 bool form-group form-inline">
            <label class="sr-only" for="op0">Search operator</label>
            <select name="op[]" id="op0" disabled="disabled" class="form-control hidden"><option value="AND">And</option>
        <option value="OR">Or</option>
        <option value="NOT">Not</option>
        <option value="AND">And</option>
        <option value="OR">Or</option>
        <option value="NOT">Not</option>
        <option value="AND">And</option>
        <option value="OR">Or</option>
        <option value="NOT">Not</option>
        <option value="AND">And</option>
        <option value="OR">Or</option>
        <option value="NOT">Not</option></select>
            <input type="hidden" name="op[]" id="op_" value="" />
          </div>
          <div class="col-sm-3 form-group form-inline">
            <label class="sr-only repeats" for="q0">Enter your search terms</label>
            <input type="text" name="q[]" id="q0" placeholder="Enter your search terms" class="form-control repeats fill-column" />
          </div>
            <div class="col-sm-3 form-group form-inline norepeat">
              <label class="sr-only" for="limit">Limit to %{limit}</label>
              <select name="limit" id="limit" class="form-control fill-column"><option selected="selected" value="">Search all record types</option>
        <option value="resource">Limit to collections</option>
        <option value="digital_object">Limit to digital materials</option></select>
            </div>
          <div class="col-sm-5 form-group form-inline">
            <label class="sr-only repeats" for="field0">Search field</label>
            <select name="field[]" id="field0" class="form-control repeats"><option value="">Keyword</option>
        <option value="title">Title</option>
        <option value="creators_text">Creator</option>
        <option value="subjects_text">Subject</option>
        <option value="notes">Notes</option>
        <option value="four_part_id">Identifier</option></select>

            <span class="inline-label repeats">Years:</span>
            <label class="sr-only repeats" for="from_year0">From year</label>
            <input type="text" name="from_year[]" id="from_year0" size="4" maxlength="4" placeholder="From" class="form-control repeats" />

            <span class="inline-label repeats">To</span>
            <label class="sr-only repeats" for="to_year0">To year</label>
            <input type="text" name="to_year[]" id="to_year0" size="4" maxlength="4" class="form-control repeats" placeholder="To" />
          <span class="plusminus"></span>

          </div>
        </div>
        <div class="row" id="submit_div">
          <div class="col-sm-2">
            <input type="submit" name="commit" value="Search" class="btn btn-primary" id="submit_search" data-disable-with="Search" />
          </div>
        </div>
        </form>-->
        </div>




        <div class="qg-content-footer">

          <dl>
            <dt>Last updated:</dt>
            <dd>11 January 2018</dd>
            <dt>Last reviewed:</dt>
            <dd>11 January 2018</dd>
          </dl>


        </div>
      </div>

      <nav id="qg-section-nav" aria-label="side navigation" role="navigation">

    <h2><a href="#">ArchivesSearch</a></h2>
    <ul aria-label="section navigation">
        <li><a href="#">Series</a></li>
        <li><a href="#">Functions</a></li>
        <li><a href="#">Mandates</a></li>
        <li><a href="#">Items</a></li>
    </ul>

</nav>


    </div>
    <div id="qg-options" class="row">
    <div id="qg-share" class="qg-share"></div>

    <div id="qg-feedback-btn">
        <button class="btn btn-default qg-toggle-btn collapsed qg-icon" id="page-feedback-useful"
            data-toggle="collapse"
            data-target="#qg-page-feedback">Feedback</button>
    </div>
</div>

<div id="qg-page-feedback" class="row collapse">

    <form id="qg-page-feedback-form"
        method="post"
        action="https://www.smartservice.qld.gov.au/services/submissions/email/feedback/feedback"
        class="form"
        data-recaptcha="true"><!-- data-toggle="true" -->

        <ol class="questions">
            <li>
                  <fieldset id="page-feedback-about">
                      <legend><span class="label">Is your feedback about:</span></legend>
                      <div class="radio">
                        <input name="page-feedback-about" id="page-feedback-about-this-website" type="radio" value="this website"
                               data-qg-pr="default"
                               data-parent="#qg-page-feedback-form"
                               data-target="#feedback-page">
                        <label for="page-feedback-about-this-website">this website</label>
                      </div>
                      <div class="radio">
                        <input name="page-feedback-about" id="page-feedback-about-a-government-service" type="radio" value="a government service"
                               data-qg-pr="default"
                               data-parent="#qg-page-feedback-form"
                               data-target="#feedback-serv-dep-staff">
                        <label for="page-feedback-about-a-government-service">a government service, department or staff member?</label>
                      </div>
                  </fieldset>
            </li>
        </ol>

        <div class="panel">

            <div id="feedback-serv-dep-staff" class="status info panel-collapse collapse">
                <h2>Feedback on government services, departments and staff</h2>
                <p>Please use our <a href="https://www.qld.gov.au/contact-us/complaints/">complaints and compliments form</a>.</p>
            </div>

            <div id="feedback-page" class="panel-collapse collapse">

                <h2>Page feedback</h2>

                <ol id="feedback-page-list" class="questions">

                    <li class="col-12">

                        <fieldset>

                            <legend>
                                <span class="label">How satisfied are you with your experience today?</span>
                                <abbr title="(required)" class="required">*</abbr>
                            </legend>
                            <div class="radio">
                              <input type="radio" name="feedback-satisfaction" value="Very dissatisfied" required="" id="fs-very-dissatisfied" />
                              <label for="fs-very-dissatisfied">Very dissatisfied (1)</label>
                            </div>
                            <div class="radio">
                              <input type="radio" name="feedback-satisfaction" value="Dissatisfied" required="" id="fs-dissatisfied" />
                              <label for="fs-dissatisfied">Dissatisfied (2)</label>
                            </div>
                            <div class="radio">
                              <input type="radio" name="feedback-satisfaction" value="Neither satisfied or dissatisfied" required="" id="fs-neither-satisfied-or-dissatisfied" />
                              <label for="fs-neither-satisfied-or-dissatisfied">Neither satisfied or dissatisfied (3)</label>
                            </div>
                            <div class="radio">
                              <input type="radio" name="feedback-satisfaction" value="Satisfied" required="" id="fs-satisfied" />
                              <label for="fs-satisfied">Satisfied (4)</label>
                            </div>
                            <div class="radio">
                              <input type="radio" name="feedback-satisfaction" value="Very satisfied" required="" id="fs-very-satisfied" />
                              <label for="fs-very-satisfied">Very satisfied (5)</label>
                            </div>

                        </fieldset>
                    </li>

                    <li class="col-12">
                      <div class="form-group">
                          <label for="comments">
                              <span class="label">Comments</span>
                              <abbr title="(required)" class="required">*</abbr>
                          </label>
                          <textarea class="form-control" name="comments" id="comments" rows="10" cols="40" required="required"></textarea>
                      </div>
                    </li>

                    <li id="feedback-captcha-container" class="col-md-12">
                      <div class="form-group">
                          <label for="feedback-captcha">Please leave this blank (this helps us identify automatic spam)</label>
                          <input class="form-control" type="text" name="captcha" id="feedback-captcha" value="" />
                      </div>
                    </li>

                    <li class="footer col-md-12">
                        <span id="feedback-hidden-inputs"></span>

                        <ul class="actions">

                            <li>
                                <button type="submit" value="Submit feedback" class="qg-btn btn-primary">Submit feedback</button>
                            </li>

                        </ul>

                    </li>

                </ol>

            </div>

        </div>

    </form>

</div>


  </div>

  <footer>
    <div class="qg-site-map row">

    <div>
        <h3>
            <a href="https://www.qld.gov.au/">Queensland Government</a>
            <button class="btn btn-link qg-toggle-icon-right collapsed visible-xs-inline-block" data-toggle="collapse" data-target="#footer-info-qg" aria-expanded="false" aria-controls="footer-info-qg"><span class="sr-only">More Queensland Government pages</span>&nbsp;</button>
        </h3>
        <ul class="collapse" id="footer-info-qg">
            <li><a href="https://www.qld.gov.au/about/contact-government/contacts/">Government contacts</a></li>
            <li><a href="https://www.qld.gov.au/about/contact-government/have-your-say/">Have your say</a></li>
            <li><a href="https://www.qld.gov.au/about/staying-informed/">Staying informed</a></li>
            <li><a href="https://www.qld.gov.au/about/government-jobs/">Government jobs</a></li>
            <li><a href="https://www.qld.gov.au/about/how-government-works/">How government works</a></li>
            <li><a href="https://data.qld.gov.au/">Queensland Government data</a></li>
            <li><a href="https://publications.qld.gov.au/">Queensland Government publications</a></li>
            <li><a href="https://www.forgov.qld.gov.au/?utm_medium=website&utm_source=qgov-site&utm_campaign=dsiti-for-gov&utm_content=swe-footer">For government employees</a></li>
        </ul>
    </div>

    <div>
        <h3>
            <a href="https://www.qld.gov.au/queenslanders/">For Queenslanders</a>
            <button class="btn btn-link qg-toggle-icon-right collapsed visible-xs-inline-block" data-toggle="collapse" data-target="#footer-info-for-qld" aria-expanded="false" aria-controls="footer-info-qg"><span class="sr-only">More Queensland Government pages</span>&nbsp;</button>
        </h3>
        <ul class="col-2 collapse"  id="footer-info-for-qld">
            <li><a href="https://www.qld.gov.au/transport/">Transport and motoring</a></li>
            <li><a href="https://www.qld.gov.au/jobs/">Employment and jobs</a></li>
            <li><a href="https://www.qld.gov.au/housing/">Homes and housing</a></li>
            <li><a href="https://www.qld.gov.au/education/">Education and training</a></li>
            <li><a href="https://www.qld.gov.au/community/">Community support</a></li>
            <li><a href="https://www.qld.gov.au/health/">Health and wellbeing</a></li>
            <li><a href="https://www.qld.gov.au/emergency/">Emergency services and safety</a></li>
            <li><a href="https://www.qld.gov.au/about/">About Queensland and its government</a></li>
            <li><a href="https://www.qld.gov.au/families/">Parents and families</a></li>
            <li><a href="https://www.qld.gov.au/disability/">People with disability</a></li>
            <li><a href="https://www.qld.gov.au/seniors/">Seniors</a></li>
            <li><a href="https://www.qld.gov.au/atsi/">Aboriginal and Torres Strait Islander peoples</a></li>
            <li><a href="https://www.qld.gov.au/youth/">Youth</a></li>
            <li><a href="https://www.qld.gov.au/environment/">Environment, land and water</a></li>
            <li><a href="https://www.qld.gov.au/law/">Your rights, crime and the law</a></li>
            <li><a href="https://www.qld.gov.au/recreation/">Recreation, sport and arts</a></li>
        </ul>
    </div>

    <div>
        <h3>
            <a href="http://www.business.qld.gov.au/">Business and industry</a>
            <button class="btn btn-link qg-toggle-icon-right collapsed visible-xs-inline-block" data-toggle="collapse" data-target="#footer-info-bi" aria-expanded="false" aria-controls="footer-info-qg"><span class="sr-only">More Queensland Government pages</span>&nbsp;</button>
        </h3>
        <ul class="collapse" id="footer-info-bi">
          <li><a href="https://www.business.qld.gov.au/starting-business">Starting a business</a></li>
          <li><a href="https://www.business.qld.gov.au/running-business">Running a business</a></li>
          <li><a href="https://www.business.qld.gov.au/running-business/employing">Employing people</a></li>
          <li><a href="https://www.business.qld.gov.au/running-business/employing/payroll-tax">Payroll tax</a></li>
          <li><a href="https://www.business.qld.gov.au/industries">Industries</a></li>
          <li><a href="https://www.business.qld.gov.au/industries/invest">Investing in Queensland</a></li>
          <li><a href="https://www.business.qld.gov.au/industries/invest/chinese-s" lang="zh">昆士兰州的投资机会</a></li>
          <li><a href="https://www.business.qld.gov.au/industries/invest/chinese-t" lang="zh">昆士蘭州的投資機會</a></li>
          <li><a href="https://www.business.qld.gov.au/industries/invest/japanese" lang="ja">クイーンズランド州への投資機会</a></li>
          <li><a href="https://www.business.qld.gov.au/industries/invest/korean" lang="ko">퀸즈랜드 투자 기회</a></li>
          <li><a href="https://www.business.qld.gov.au/industries/invest/invertir-turismo" lang="sp">Oportunidades de inversión en Queensland</a></li>
        </ul>
    </div>

</div>

    <div class="qg-legal row">
	<ul class="list-inline">
		<li><a href="https://www.qld.gov.au/contact-us/" class="no-print">Contact us</a></li>
		<li><a href="https://www.qld.gov.au/help/" class="no-print">Help</a></li>
		<li><a href="https://www.qld.gov.au/legal/copyright/">Copyright</a></li>
		<li><a href="https://www.qld.gov.au/legal/disclaimer/">Disclaimer</a></li>
		<li><a href="https://www.qld.gov.au/legal/privacy/">Privacy</a></li>
		<li><a href="https://www.qld.gov.au/right-to-information/">Right to information</a></li>
		<li><a href="https://www.qld.gov.au/help/accessibility/" class="no-print">Accessibility</a></li>
		<li><a href="http://www.smartjobs.qld.gov.au/" class="no-print">Jobs in Queensland Government</a></li>
		<li id="link-languages"><a href="https://www.qld.gov.au/languages/" class="no-print">Other languages</a></li>
	</ul>
  <p class="qg-copyright">&copy; The State of Queensland <span id="qg-copyright-owner"></span><span id="qg-copyright-daterange"></span></p>
	<p><a href="https://www.qld.gov.au/" accesskey="1">Queensland Government</a></p>
</div>

  </footer>
</div>

<script>
  var qg = qg || {};
  qg.swe = qg.swe || {};
  // Used by the feedback form.
  qg.swe.franchiseTitle = 'Franchise Title';
</script>

<!--external lib  (includes butterfly, markdown, generate-id)-->
<script src="https://static.qgov.net.au/assets/v3.1/latest/lib/all-ext-min.js"></script>

<!-- Require main javascript -->
<!--<script src="https://static.qgov.net.au/assets/v3/js/qg-env.js"></script>-->
<script src="https://static.qgov.net.au/assets/v3.1/latest/js/qg-main.js"></script>


</body>

</html>
